.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  @include respond-to('large') {
    order: 3;
    max-width: fit-content;
    padding-right: 1.5rem;
  }
}
