$primary-color: #1a336f;
$secondary-color: #f69221;
$tertiary-color: #ebedf3;
$quaternary-color: #fcce9b;
$quinary-color: #529aa0;
$border-color: #bfc3cd;
$darker-border-color: #82848c;
$white-color: #ffffff;
$disabled-color: #efc699;
