.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;

  @include respond-to('large') {
    display: flex;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
  }
}
